* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #fff0f3 !important; /* ROSA CLARO */
    background-image: none !important;    /* REMOVE GRADIENTE ROXO */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-principal {
    background-color: #ffffff; /* BRANCO */
    width: 100%;
    max-width: 500px;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(255, 182, 193, 0.4);
}

.titulo {
    color: #ff4d6d;
    text-align: center;
    margin-bottom: 25px;
    font-size: 28px;
}

.input-bonito {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: 2px solid #ffccd5;
    border-radius: 10px;
    outline: none;
}

.btn-adicionar {
    width: 100%;
    padding: 14px;
    background-color: #ff4d6d;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-adicionar:hover {
    background-color: #ff758f;
}

.item-tarefa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ffe5ec;
}

.concluida-texto {
    text-decoration: line-through;
    color: #adb5bd;
}

.btn-status {
    border: none;
    padding: 6px 12px;
    border-radius: 20px;
    color: white;
    font-size: 11px;
    cursor: pointer;
}

.cor-concluir { background-color: #28a745; }
.cor-reabrir { background-color: #dc3545; }